# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.vscode

# generated
src/main/resources/me/towdium/jecharacters/scripts/_gen*
src/main/resources/META-INF/coremods.json